section {
  background-color: #fff;
  padding-top: 8rem;
  // padding-bottom: 2rem;
}
.section-header {
  text-transform: uppercase;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.6rem;
  // font-weight: 700;
  // color: #7b1fa2;
  color: $dark-purple;
  padding-bottom: 2rem;
}
.svg-top-container {
  height: 100px;
  width: 100%;
  position: absolute;
  svg {
    transform: rotate(180deg);
  }
}
.svg-bottom-container {
  height: 100px;
  width: 100%;
  position: absolute;
  margin-top: -100px;
}

.svg-top-container svg, .svg-bottom-container svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: #ffffff;
}